<p>
    Mes valeurs reactiv: {{ userprofileForm.value | json }}
</p> <br>

<mat-card>
    <form [formGroup]="userprofileForm" (ngSubmit)="onSubmit()">
        <mat-card-content>
            <label>
                <mat-form-field>
                    <mat-card-title>Prénom:</mat-card-title>
                    <input matInput type="text" formControlName="prenom">
                </mat-form-field>
            </label> <br>
        </mat-card-content>
        <mat-card-content>

            <label>
                <mat-form-field>
                    <mat-card-title>Nom:</mat-card-title>
                    <input matInput type="text" formControlName="nom">
                </mat-form-field>
            </label><br>
        </mat-card-content>

        <label>
            <mat-form-field>
                <mat-card-title>âge:</mat-card-title>
                <input matInput type="text" formControlName="age">
            </mat-form-field>
        </label><br>

        <label>
            <mat-form-field>
                <mat-card-title>Email:</mat-card-title>
                <input matInput type="text" formControlName="email">
            </mat-form-field>
        </label><br>
        <mat-card-actions>
            <button mat-button color="primary" type="submit" [disabled]="!userprofileForm.valid">Valider</button>
        </mat-card-actions>
    </form>
</mat-card>
